@{
    ViewBag.Title = "About";
}

<br /><hr />
      <div class="row" style="background-color:white">
          <div class="col-sm-6">
              <h2><strong>Chủ Đề 1</strong></h2>
              <h3>Chức năng:</h3>
              <div>
                  <p>Có các chức năng tìm kiếm sắp xếp như là: Selection Sort, Insertion sort, Bubble Sort, Quick Sort, Merge Sort, Heap Sort.</p>
                  <p>
                      Cho phép người dùng tạo ra mảng ngẫu nhiên có kích cỡ tùy ý. Các giải thuật sắp xếp người dùng có thể chọn chế độ tự động, chế độ chạy từng bước, có thể ấn Next, hay Previous để đến bước sau hoặc quay về bước trước đó.
                  </p>
              </div>
          </div>
          <div class="col-sm-6">
              <h2><strong>Chủ Đề 2</strong></h2>
              <h3>Chức năng:</h3>
              <div>
                  <p>Giải thuật  này liên quan đến cây nhị phân tìm kiếm (Binary Search Tree) hay cây cân bằng như các phép duyệt cây (NLR, LNR, LRN), thêm phần tử vào cây, xóa phần tử ra khỏi cây, thêm phần tử vào cây cân bằng, xóa phần tử khỏi cây cân bằng.</p>
                  <p>
                      Cho phép người dùng nhập vào cây nhị phân hay tạo ra một cây ngẫu nhiên có chiều cao tùy ý.
                  </p>
              </div>
          </div>
      </div>
<br />
<h4><strong>Team:</strong></h4>
<table class="table table-hover" style="width:300px">
    <tr>
        <td><strong>Họ Tên</strong></td>
        <td><strong>MSSV</strong></td>
    </tr>
    <tr>
        <td>Lê Văn Tiến</td>
        <td>43.01.104.180</td>
    </tr>
    <tr>
        <td>Nguyễn Công Khanh</td>
        <td>43.01.104.075</td>
    </tr>
    <tr>
        <td>Nguyễn Hà Duy</td>
        <td>43.01.104.035</td>
    </tr>
</table>