@{
    ViewBag.Title = "About";
}

<br /><hr />
<div class="row" style="background-color:white">
    <div class="col-sm-6">
        <h2><strong>Chủ Đề 1</strong></h2>
        <h3>Chức năng:</h3>
    </div>
    <div class="col-sm-6">
        <h2><strong>Chủ Đề 2</strong></h2>
        <h3>Chức năng:</h3>
    </div>
</div>