body {
}

.inp {
    width: 4.2em;
    display: inline-block;
    margin-left: 0.6%;
}

.pnext {
    position: absolute;
    float: inherit;
    width: 3%;
    height: 37px;
    border-radius: 50%;
    background-color: #0894c2;
    padding: 0.6%;
    display: inline-block;
    margin-top: -0.3%;
    margin-left: 1%;
}

    .pnext:hover {
        border: 0.2px solid aqua;
    }

.pnext-icon {
    color: burlywood;
    width: 100%;
}

.content {
    margin-top: 1%;
    width: 100%;
    height: auto;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-bottom: 1%;
    padding: 2.5%;
    padding-right: 2%;
    padding-bottom: 4%;
}

.textNumber {
    float: right;
    margin-top: 0.6%;
}

.container-item {
    width: 100%;
    height: auto;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(128, 227, 240);
}

.tron {
    box-shadow: 0.2em 0.4em 1.5em 0.1em rgba(0,0,0,0.3);
    width: 54px;
    height: 54px;
    background-color: white;
    padding: 4% 4.5% 3%;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1%;
}

.content-Tree {
    margin-top: 1%;
    width: 100%;
    height: auto;
    box-shadow: 0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-top:1%;
}
.modal-title{
    text-align:center;
}
.small{display:inline-block}


/*NODE*/
.node {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    background-color: blue;
    border: 2px solid green;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    transition: 2s;
}

.line {
    width: 2px;
    border: 1px solid #000;
    position: absolute;
    transform-origin: top left;
    z-index: -1;
}
